# editors
*.swp
*~

# python
.venv

# build
/build*
/twister-out*
/app/build*

__pycache__/
eeprom.bin

# codeql
_codeql_detected_source_root

# docs
/doc/_build*

# implement later
doc
scripts
*.wav
