name: Build

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  build:
    name: Build app and tests
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: fw
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@v1
        with:
          app-path: fw
          ccache-cache-key: zephyr-ccache-${{ runner.os }}-${{ hashFiles('**/fw/west.yml') }}

      - name: Build firmware
        working-directory: fw
        shell: bash
        run: west twister -T app -v --inline-logs --integration

      - name: Twister Tests
        working-directory: fw
        shell: bash
        run: west twister -T tests -v --inline-logs --integration
